* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'inter', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    margin-right: auto;
}

li, a, button {
    font-weight: 500;
    font-size: 1.3vw;
    text-decoration: none;
    list-style: none;
    color: crimson;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15%;
}

h1 {
    background-color: #bd953e8f;
    font-size: 3.2rem;
    color: white;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255, 255, 255, 0.4);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 3vw;
}

h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

button {
    background-color: crimson;
    color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}

button:hover {
    background-color: #bd953e;
}

.button-fs {
    padding: 30px;
    text-align: center;
    margin: 25px 0 25px 0;
}

/*navbarr_start*/

.logo {
    height: 4rem;
}

.nav_links li {
    margin: 0.8rem;
}

.nav_links a {
    transition: all 0.3s ease 0s;
}

.nav_links a:hover {
    color: #bd953e;
}

.navlink-style {
    padding: 0.3vw 0.8vw;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navlink-style:hover {
    background-color: #bd953e;
}

/*navbarre_end*/


/*Header_start*/

.home-background {
    height: 75vh;
    text-align: center;
    background: url(../images/back-home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-background-title {
    padding: 40vh 15% 3vh 15%;
}

.background-festival {
    height: 55vh;
    text-align: center;
    background: url(../images/back-festival.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.background-programmation {
    height: 30vw;
    text-align: center;
    background: url(../images/back-programmation.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.background-live {
    height: 30vw;
    text-align: center;
    background: url(../images/back-live.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.background-contact {
    height: 30vw;
    text-align: center;
    background: url(../images/back-contact.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.background-title {
    padding: 10% 25%;
}

/*header_end*/

.cta-section {
    text-align: center;
    padding: 4vw 0% 2vw 0%;
}


/*content_page_start*/

.home-programmation-wrapper {
    background: linear-gradient(#f6f6f6 0,#fff 100%);
    background-position: top;
    padding: 3rem 0%;
    text-align: left;
}

.legal-notice-wrapper {
    padding: 3rem 20%;
}

.legal-notice-wrapper p {
    text-align: justify;
    padding: 1.5rem;
}

textarea {
    width: 600px;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
}

label[for="msg"] {
    margin-top: 30px;
    padding: 20px 0;
}

label {
    display: block;
    float: left;
    width: 210px;
}

input {
    padding: 2px;
    margin: 3px;
}

input[type=text], input[type=email], input[type=tel] {
    width: 200px;
    border-radius: 15px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
    width: 372px;
  }

.contact-form {
    width: 600px;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
}

.contact-form div {
    padding: 6px;
}

.festival-container {
    padding: 3rem 20%;
    text-align: left;
}

.festival-container-reverse {
    padding: 3rem 20%;
    text-align: right;
}

.festival-container-image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.p-film {
    margin: 0.5rem 0;
}

/*carrousel_programme*/

.home-container-image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
}

article {
    background-color: crimson;
    color: white;
    height: 16rem;
    margin: 0 auto 0.5rem auto;
    width: 49.2%;
    position: relative;
    text-align: center;

}

.img1 {
    background-image: url('../images/films/Edmond.jpg');
    background-size: 100% 100%;
}

.img2 {
    background-image: url('../images/films/hors_norme.jpg');
    background-size: 100% 100%;
}

.img3 {
    background-image: url('../images/films/tontons_flingueurs.jpg');
    background-size: 100% 100%;
}

.img4 {
    background-image: url('../images/films/cafe_society.jpg');
    background-size: 100% 100%;
}

article p {
    background-color:#bd953eb4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    font-size: 1.5rem;
    cursor: pointer;
}

.festival-container-image article {
    height: 600px;
}

.festival-container-image p {
    padding: 5px;
    text-align: justify;
}

#af-right {
    align-self: flex-end;
}


.p-link-trailer a {
    color: white;
    display: block;
    text-align: center;
    margin: 17px;
}

.home-live-wrapper {
    text-align: right;
}

.img-shift-1, .img-shift-4 {
    width: 60%; 
}

.img-shift-2, .img-shift-3 {
    width: 38%;
}

.img-shift-1 {
    background-image: url('../images/actu1.jpg');
    background-size: 100% 100%;
}

.img-shift-2 {
    background-image: url('../images/actu2.jpg');
    background-size: 100% 100%;
}

.img-shift-3 {
    background-image: url('../images/actu3.jpg');
    background-size: 100% 100%;
}

.img-shift-4 {
    background-image: url('../images/actu4.jpg');
    background-size: 100% 100%;
}

.home-wrapper-maps, .contact-wrapper-maps {
    background: linear-gradient(#fff, #f6f6f6);
    background-position: top;
}

.home-wrapper-maps {
    text-align: left;
}

.home-maps-rigthside {
    display: flex;
}

.rigthside-1 {
    margin: 5rem auto;
    width: 40vw;
}

.rigthside-2 {
    margin: 5rem auto;
    width: 40vw;
}

.home-container-maps {
    text-align: center;
}

.img-maps {
    height: 45vh;
    width: 80%;
    margin-top: 4rem;
    border-radius: 20%;
    border: #bd953e;
    border-style: solid;
    box-shadow: 5px 5px 5px #bd953e;
}

footer {
    color: white;
    background-color: black;
    height: 100%;
}

.contact-wrapper-maps {
    padding-bottom: 100px;;
}

.contact-wrapper-maps h3 {
    text-align: right;
}

.contact-wrapper-maps .home-maps-rigthside {
    margin-right: 78px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 30px 20%;
}

.footer-left {
    width: 50%;
}

.p-info {
    text-align: left;
}

.footer-left-content a {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.3s ease 0s;
}

.footer-left-content a:hover {
    color: #bd953e;
}

.footer-rigth {
    width: 50%;
}

.p-follow {
    text-align: center;
}

.p-info, .p-follow {
    margin-bottom: 10px;
}

.social-media {
    padding-top: 10px;
}

.social-media ul {
    display: flex;
}

.social-media a {
    color: white;
    margin: 10px;
    transition: all 0.3s ease 0s;
}

.social-media a:hover {
    color: #bd953e;
}

.copyright {
    text-align: center;
    font-size: 0.7rem;
}

/*média_queries_multiscreen*/

@media screen and (min-width: 1024px)
{
    header {
        padding: 1.5vh 15%;
    }

    h1 {
        font-size: 3.5rem;
    }

    .nav_links li {
        display: inline-block;
        padding: 0 1.2rem;
        margin: 0;
    }

    .home-background {
        height: 80vh;
    }

    .home-background-title {
        padding-top: 50vh;
    }

    .home-programmation-wrapper {
        padding: 3rem 15%;
    }

    .home-container-image {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: unset;
        margin: 2rem 0;
    }

    .home-container-maps {
        display: flex;
        text-align: left;
    }

    .img-maps {
        height: 45vh;
        width: 45vw;
        margin-top: 2rem;
        border-radius: 20%;
        border: #bd953e;
        border-style: solid;
        box-shadow: 5px 5px 5px #bd953e;
    }

    .home-wrapper-maps, .contact-wrapper-maps {
        padding: 0 15%;
    }

    .home-maps-rigthside {
        display: flex;
        flex-direction: column;
    }
    
    .rigthside-1 {
        margin: 6rem 0 0 2.3rem;
        width: 20vw;
    }
    
    .rigthside-2 {
        margin: 3rem 0 0 2.3rem;
        width: 20vw;
    }

}

@media screen and (max-width: 1024px)
{
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    .home-maps-rigthside p {
        text-align: left;
    }

    .home-maps-rigthside h4 {
        text-align: left;
    }

    .rigthside-1, .rigthside-2 {
        margin: 5vh auto;
        width: 30%;

    }

}

@media screen and (max-width: 600px)
{

    .home-background {
        height: 60vh;
    }

    .home-background-title {
        padding-top: 20vh;
    }

    .cta-section {
        margin-top: 3vh;
    }



    .footer-wrapper {
        padding: 40px 15%;
    }

    .fab {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 420px)
{
    h1 {
        font-size: 2.5rem;
    }

    .home-background-title {
        padding-top: 25vh;
    }
}